GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
AUTOMATION_DB_SPREADSHEET_ID=
SHEET_1_INTERNAL_TRANSFER_TRACKER_ID=
SHEET_2_SPE_SCOM_INTERNAL_TRANSFER_ID=
SHEET_3_SCOM_MASTER_2026_ID=
SHEET_4_ALL_ENTITY_TRANSFER_ID=
SHEET_5_EXIT_MASTER_TRACKER_ID=
ONBOARDING_TRACKER_SPREADSHEET_ID=
N8N_BASE_URL=
N8N_DASHBOARD_ACTION_SECRET=
DASHBOARD_HRBP_CASE_FILTER=
DASHBOARD_HRBP_EMAIL=
